@import './components/index.css';

/* font */
@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 400;
  src: url(/assets/fonts/PoppinsVN-400.woff2) format('woff2'),
    url(/assets/fonts/PoppinsVN-400.woff) format('woff'),
    url(/assets/fonts/PoppinsVN-400.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 500;
  src: url(/assets/fonts/PoppinsVN-500.woff2) format('woff2'),
    url(/assets/fonts/PoppinsVN-500.woff) format('woff'),
    url(/assets/fonts/PoppinsVN-500.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 600;
  src: url(/assets/fonts/PoppinsVN-600.woff2) format('woff2'),
    url(/assets/fonts/PoppinsVN-600.woff) format('woff'),
    url(/assets/fonts/PoppinsVN-600.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: PoppinsVN;
  font-weight: 700;
  src: url(/assets/fonts/PoppinsVN-700.woff2) format('woff2'),
    url(/assets/fonts/PoppinsVN-700.woff) format('woff'),
    url(/assets/fonts/PoppinsVN-700.ttf) format('truetype');
}
